# Required runtime services
MONGO_URI=mongodb+srv://Moonlight:mudaumudau.dev@moonlight.i7jdbyl.mongodb.net/?appName=Moonlight

MOONLIGHT_IMAGE=
  WEB=https://haven.nett.to/
  OWNER_NAME=kai
   FASTIVAL_GROUP=https://chat.whatsapp.com/DERSAeJ5nC71N2CgN3a9Pb
   COMMUNITY_LINK=https://chat.whatsapp.com/I02K7SZKD9hAoY7AmAxMNE
    RPG_LINK=https://chat.whatsapp.com/JqLTHYWiigyGJx7TdcYNca
    CASINO_LINK1=https://chat.whatsapp.com/GGHZqxL7tKA5OD6kAhuZId
    CASINO_LINK2=https://chat.whatsapp.com/BEiSOW4lm9gCfrqBQCnQKP
    DISCORD_LINK=https://discord.gg/KUzsCHp9WG
